

<div id="navbar" class="container-fluid  " style="position:absolute;">
    <div class="row  align-items-center justify-content-center  text-light">
        <ul class="nav justify-content-center h-25">
            <li class="nav-item ">
                <a class="nav-link active" href="#">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kariyer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Web Sitelerimiz...</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>
                        <img id="socialmediaIcon" src="~/İmages/Shared/socialmedia-cloud.png" alt="Alternate Text" />
                        <strong class="text-center">SOSYAL MEDİA</strong>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div id="navbar2" class="row align-items-center justify-content-center ">
        <nav class="navbar navbar-expand-md  ">
            <div id="pinarlogoDiv" class=" d-inline-block ">  <img id="pinarlogo" class="navbar-brand  img-fluid" href="#" src="~/İmages/Shared/pinar-logo.png"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span id="tooglerİcon" class="navbar-toggler-icon">*</span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul id="navbar-links" class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#ürünlerimiz">Ürünlerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Markalarımız</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pınar ile Yaşam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sürdürülebilirlik">Sürdürülebilirlik </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sosyalmedya">Medya Merkezi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Yatırımcı İlişkileri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">English</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

</div>

