

<div id="carousel-ID" class="carousel slide " data-ride="carousel" style=" position:relative;">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#carousel-ID" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-ID" data-slide-to="1"></li>
        <li data-target="#carousel-ID" data-slide-to="2"></li>
        <li data-target="#carousel-ID" data-slide-to="3"></li>
    </ul>
    <!-- The slideshow -->
    <div id="carousel-inner-ID" class="carousel-inner ">
        <div class="carousel-item active ">
            <img class="img-fluid" src="~/İmages/Home/carouselİmages/homelezzetpinarim.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item ">
            <img class="img-fluid" src="~/İmages/Home/carouselİmages/homesaglikpinarim.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item ">
            <img class="img-fluid" src="~/İmages/Home/carouselİmages/homeyasampinarim.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item ">
            <img class="img-fluid" src="~/İmages/Home/carouselİmages/homeyenilikpinarim.jpg" alt="Los Angeles">
        </div>

        <a class="carousel-control-prev" href="#carousel-ID" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel-ID" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>


