<div id="carousel-innerlinks" class="row ">
    <div class="col-6 border border-dark ">
        <a href="">
            <img class="img-fluid" src="~/İmages/Home/caroulsel-innerlinks/sağlık-pınarım/denge_d_vitaminli_500_ml.png" alt="Alternate Text" />
            <span style="word-wrap:break-word" class="d-inline-block flex-wrap">dgd</span>
        </a>

    </div>
    <div class="col-6 ">
        <a href="">
            <img class="img-fluid" src="~/İmages/Home/caroulsel-innerlinks/sağlık-pınarım/pet_su_2016_05.png" alt="Alternate Text" />
            <span>hsd</span>
        </a>

    </div>
    <div class="col-6 ">
        <a href="">
            <img class="img-fluid" src="~/İmages/Home/caroulsel-innerlinks/sağlık-pınarım/pinar-sut-sade-1l.png" alt="Alternate Text" />
        </a>
        <p class="d-inline">de</p>
    </div>
    <div class="col-6 ">
        <a href="">
            <img class="img-fluid" src="~/İmages/Home/caroulsel-innerlinks/sağlık-pınarım/pinar_bagisiklik_pinarim.png" alt="Alternate Text" />
        </a>
        <p class="d-inline">de</p>
    </div>


</div>
