

<div id="haberler-carousel" class="carousel slide m-2  " data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#haberler-carousel" data-slide-to="0" class="active">i</li>
        <li data-target="#haberler-carousel" data-slide-to="1"></li>

    </ul>
    <!-- The slideshow -->
    <div id="haberler-carousel-inner" class="carousel-inner ">

        <a href="#" class="carousel-item active">
            <img class="img-fluid w-100 " src="~/İmages/Home/pinardanhaberler-carousel/pinar-haber-3.jpg" alt="Los Angeles">
        </a>
        <a href="#" class="carousel-item">
            <img class="img-fluid w-100" src="~/İmages/Home/pinardanhaberler-carousel/pinar-haber-2.jpg" alt="Los Angeles">
        </a>

        <a class="carousel-control-prev" href="#haberler-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#haberler-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>


